.grid_box_container
{
    background-color: var(--board_background);
    width: 438px;
    height: 438px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 12px;
    position: relative;
}

.grid
{
    background-color: var(--board_unfilled);
    border-radius: 3px;
    width: 97.5px;
    height: 97.5px;
    margin-right: 12px;
}

.grid1
{
    position: absolute;
    border-radius: 3px;
    width: 97.5px;
    height: 97.5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid1 > span
{
    font-size: 44px;
    font-weight: bolder;
    color: #766f65;
}

.scaler
{
    animation: grid_scaler 70ms linear both;
}

@keyframes grid_scaler {
    0%
    {
        transform: scale(0.0);
    }
    100%
    {
        transform: scale(1.0);
    }
}

.overlay
{
    background-color: #766f65;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    opacity: 0.68;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.overlay > div > button
{
    text-transform: uppercase;
    font-size: 24px;
    padding: 0.8rem;
    border-radius: 25px;
    margin-top: 4rem;
}
.hide_element
{
    display: none;
}

.final_score_data
{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}