*, *::before, *::after
{
  margin: 0;
  padding: 0;
  box-sizing: border;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;	
}

:root
{
  --background: #faf8ef;
  --2048_text: #776e65;
  --score_card: #bbada0;
  --SCORE-text: #f2e0c0;
  --score_text: #fff;
  --newgame_text: rgba(237,231,226,255);
  --newgame_background: #8f7a66;
  --board_background: #bbada0;
  --board_unfilled: #ccc0b4;
  --2_block: #bbada0;
  --4-block: #eee1c9;
  --8-block: #f3b27a;
  --16-block: #f69764;
  --32-block: #f77c5f;
  --64-block: #f75f3b;
  --128-block: #edd073;
  --256-block: #edcc62;
  --256-block: #369200;
}

body
{
  background-color: var(--background);
}

.App
{
  display: flex;
  align-items: center;
  justify-content: center;
}